<header>
    <div class="slider"><h1>HEADER__SLIDE</h1></div>

    <nav class="navbar">
        <a class="navbar__brand" href="/">DEVFUN</a>
        <form class="navbar__search">
            <input class="" type="search" placeholder="Search" aria-label="Search">
            <button class="" type="submit">Search</button>
        </form>
        <ul class="navbar__nav">
            <li class="nav__item"><a href="">HOME</a></li>
            <li  class="nav__item"><a href="">ABOUT</a></li>
            <li  class="nav__item"><a href="">BLOG</a></li>
            <li class="nav__item"><a href="">CONTACT</a></li>
        </ul>
        <button class="nav__toggle"><i class="fa fa-bars fa-2x"></i></button>
    </nav>
    <ul class="nav">
        <li class="nav__item"><a href="">HOME</a></li>
        <li class="nav__item"><a href="">ABOUT</a></li>
        <li class="nav__item"><a href="">BLOG</a></li>
        <li class="nav__item"><a href="">CONTACT</a></li>
    </ul>
</header>
